#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F3DE8A;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

#gameover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    font-size: 75px;
    font-weight: bolder;
    text-shadow: 6px 0 #fff, -6px 0 #fff, 0 6px #fff, 0 -6px #fff,
             3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
    color: #086788;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    gap: 75px;
}

#countdown, #score {
    font-size: 75px;
    font-weight: bolder;
    text-shadow: 6px 0 #fff, -6px 0 #fff, 0 6px #fff, 0 -6px #fff,
             3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff;
    color: #086788;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 9998;
    pointer-events: none;
}

#barm {  
    pointer-events: auto;
}

.moving {
    height: 100px;
    width: 100px;
    position: absolute;
    pointer-events: none
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: #F3DE8A;
    height: 100vh;
    gap: 70px;
}

.outer-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: #F3DE8A;
    height: 100vh;
    gap: 50px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #B3F3FF;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 5px solid #086788;
    border-radius: 35px;
    max-width: 500px;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: #F3DE8A;
    gap: 10px;
}

.button {
    background-color: #B3F3FF;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #086788;
    border-radius: 12px;
    font-weight: bolder;
}

.button:hover {
    background-color: #086788;
    transition: 0.4s;
    color: white;
}

.logo {
    width: 390px;
    height: 390px;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 25px;
}